body {
background-color: #bdb669;
}

.container {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container {
  border: 1px solid rgb(248, 245, 245);
  padding: 30px;
  border-radius: 50px;
}
h1 {
  text-align: center;
  /* From https://css.glass */
  background-color: #938c38;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(3px);
  border: none;
  color: white;
}

.btn {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #938c38;
  background-image: linear-gradient(43deg, #938c38 46%, #a4978f 69%);

  color: white;
}
.btn:hover {
  background-color: #a4978f;
  background-image: linear-gradient(43deg, #a4978f 46%, #938c38 69%);
}
#todo {
  border-radius: 10px;
  border: none;
  padding: 5px;
}
.delbtn {
  background-color: #c21010;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  margin-left: 5px;
}
.edit-btn {
  background-color: #e38b29;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  margin-left: 5px;
}
.list-item {
  margin-bottom: 5px;
  color: #4e4a1d;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
 .list-item{
  width: 200px;
 }
 #todo{
  margin-bottom: 5px;
 }
 .btn{
  margin-left: 10px;
 }
}
